// COLORS

$color-main-background: hsl(233, 47%, 7%);
$color-card-background: hsl(244, 38%, 16%);
$color-accent: hsl(277, 64%, 61%);

$color-neutral-white: hsl(0, 0%, 100%);
$color-neutral-secondary-1: hsla(0, 0%, 100%, 0.75);
$color-neutral-secondary-2: hsla(0, 0%, 100%, 0.6);

// FONTS

$font-family-primary: "Inter", sans-serif;
$font-family-seondary: "Lexend Deca", sans-serif;
$default-font-size: 1.5rem;

/* 

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px


## Typography

### Body Copy

- Font size: 15px

### Font


- Weights: 400, 700

- Family: 
- Weights: 400 */
